.statistics {
    width: 250px;
    margin: 0 auto;
    margin-top: 50px;
    border: 2px solid black;

    display: flex;
    flex-direction: column;
}

.statisticsContainer {
    display: flex;
    flex-direction: column;
    gap: 15px;
    align-items: center;
    margin: 0;
    padding: 15px;
}

.title {
    color: blueviolet;
}

.statList {
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.label {
    font-style: italic;
    padding-right: 5px;
}

.percentage {}